body, h1, h2 {
    font-family: "Trebuchet MS", Trebuchet, Verdana, Helvetica, Arial, sans-serif;
}
h1 {
    margin: 1em 0 1.5em;
    font-size: 18px;
    text-align: center;
}
h2 {
    font-size: 16px;
}
p {
    margin: 0;
    padding: 0 0 .5em;
    max-width: 45em;
}
#container-1 {
    width: 520px;
    margin-left: auto;
    margin-right: auto;
}
.fragment-content > div {
    color: #444444;
    float: left;
    height: 120px;
    padding: 5pt 8px;
    text-align: center;
    width: 84px;
}
.fragment-content a {
    color: #003399;
    text-decoration: none;
}
.fragment-content a:hover {
    color: #0066FF;
    text-decoration: underline;
}
.fragment-content img {
    display: block;
    margin: 0pt auto;
    border: 0pt none;
    border-style: none;
}
.fragment-content .icon {
    float: left;
    width: 64px;
    height: 80px;
    padding: 0pt 8px;
}
pre {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #eee;
    padding: 0.75em 1.5em;
    font-size: 12px;
    border: 1px solid #ddd;
    border-right: #aaa 1px solid;
    border-bottom: #aaa 1px solid;
    overflow: auto;
}